version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: monthly
    versioning-strategy: 'increase-if-necessary'
  - package-ecosystem: npm
    directory: /web
    schedule:
      interval: monthly
    versioning-strategy: 'increase-if-necessary'
